#contenedor
{
    background-color: #07689f;
}

#contCabecera
{
    background-color: #ffc93c;
    box-shadow: 0px 0px 5px #333;
}

#header
{
    height: 100px;
}

#logo
{
    height: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 90px;
}

#mapa h2
{
    color: white;
}

#formUbicacion h2
{
    color: white;
    margin: 10px;
}

#formularioCalles
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    color: #ccc;
}

#formDatos
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    color: #ccc;
}

#imagen
{
    max-width: 95.582887%;
    margin-right: 2.2058823%;
    grid-column: 1 / 4;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnEnviar
{
    height: 50px;
    grid-column-start: 3;
    width: 80px;
    margin-right: 10%;
    justify-self: end;
}

